<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<!--header-->
<header class="main-header">
    <div class="nav">
        <a href="#"
        ><div><img src="img/final.png" id="brand" /></div>
        </a>
        <div class="In-nav">
            <a   class="main-nav-anchor">Connect</a>
            <a href="#" class="main-nav-anchor">Blog</a>
            <a href="#" class="main-nav-anchor">Tech</a>
            <a th:href="@{/contact}" class="main-nav-anchor">Contact</a>
            <a href="#" class="main-nav-anchor">Login/SignUp</a>
        </div>
    </div>
</header>
<!--header-->
</body>
</html>