<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hustlers</title>
    <link rel="icon" type="image/x-icon" sizes="32x32" href="img/favicon.ico" />
    <link rel="stylesheet" href="css/style.css" />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Space Grotesk:wght@400;500;700&display=swap"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Space Mono:wght@700&display=swap"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Open Sans:wght@400&display=swap"
    />
    <script defer src="script/index.js"></script>

    <!-- <script src="dsa.js"></script> -->
  </head>

  <body id="body">
    <!--header-->
    <div th:replace="header :: header"></div>
    <!--header-->

    <div id="container">
      <article class="article">
        <div class="article-first-flex">
          <p class="hustlers">Connect with</p>
          <p class="hustlers">Hustlers, Build</p>
          <p class="hustlers">Your Future</p>
          <div class="article-text">
            Are you looking to FIND, CONNECT and NETWORK with entrepreneurs,
            developers, designers and other professionals? Then Connect actively
            and grow authentically both personally and professionally.
          </div>
          <div class="article-text">
            Find someone to join your idea, or Explore NEW startup IDEAS with
            potential Entrepreneurs, or Join someone's existing idea.
          </div>
          <div class="signup-in-button">
            <div>
              <button class="signup-button">Sign-up</button>
            </div>
            <div>
              <button class="signin-button">Sign-in</button>
            </div>
          </div>
        </div>
      </article>
    </div>

    <div class="container-two-background">
      <div class="container-two">
        <div class="container-two-in">
          <h2 class="container-two-head">Who are Hustlers?</h2>
          <div class="container-two-detail">
            Hustlers is a One-on-One Networking platform where Are you looking
            for a developer/Techie to help/Collaborate with in your Idea or
            project? Or a developer who is in need of UX/UI Designer to do the
            Market and User Research as well as to design your Idea to a
            prototype? Or any Professional/Freelancer to help each other.
          </div>
        </div>
        <div class="article-image">
          <div class="article-image-details">
            <img
              class="network"
              src="img/headimg.png"
              alt="networking image"
              width="1200px"
              height="600px"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="how-it-works-bg">
      <div class="how-it-works">
        <div class="how-do">
          <h2>How does it Works?</h2>
        </div>
        <div class="how-do-flex">
          <div>
            <img class="vc-img" src="img/vc.png" />
          </div>
          <div>
            <div>1</div>
          </div>
        </div>
      </div>
    </div>
    <div class="third-c-background">
      <div class="third-c">
        <div>
          <h3 class="third-c-heading">
            Pain Points that we are Adressing are:
          </h3>
          <div class="third-c-list">
            <ul>
              <li>
                Personalised Recomended profiles based on Individual
                Preferances.
              </li>
              <li>
                Active Engagement with Effective Communication Channels, Say
                goodbye to passive, delayed and boring Conversations.
              </li>
              <li>
                Transparency and Trust, Where people come with verified social
                proof.
              </li>
              <li>Access to diverse Networks.</li>
              <li>
                Not only Effective job Matching, but also Equity Split, If both
                Agrees.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--footer-->
    <div th:replace="footer :: footer"></div>
    <!--footer-->
  </body>
</html>
