<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SpeedLink</title>
    <link rel="icon" type="image/x-icon" sizes="32x32" href="img/favicon.ico" />
    <link rel="stylesheet" href="css/style.css" />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Space Grotesk:wght@400;500;700&display=swap"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Space Mono:wght@700&display=swap"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Open Sans:wght@400&display=swap"
    />
    <script defer src="script/index.js"></script>

    <!-- <script src="dsa.js"></script> -->
  </head>

  <body id="body">
    <!--header-->
    <div th:replace="header :: header"></div>
    <!--header-->

    <div id="container">
      <article class="article">
        <div class="article-first-flex">
          <p class="hustlers">Connect with</p>
          <p class="hustlers">Hustlers, Build</p>
          <p class="hustlers">Your Future</p>
          <div class="article-text">
            Are you looking to FIND, CONNECT and NETWORK with entrepreneurs,
            developers, designers and other professionals? Then Connect actively
            and grow authentically both personally and professionally.
          </div>
          <div class="article-text">
            Find someone to join your idea, or Explore NEW startup IDEAS with
            potential Entrepreneurs, or Join someone's existing idea.
          </div>
          <div class="signup-in-button">
            <div>
              <button class="signup-button">Sign-up</button>
            </div>
            <div>
              <button class="signin-button">Sign-in</button>
            </div>
          </div>
        </div>
      </article>
    </div>

    <div class="container-two-background">
      <div class="container-two">
        <div class="container-two-in">
          <h2 class="container-two-head">Who are Hustlers?</h2>
          <div class="container-two-detail">
            Hustlers is a One-on-One Networking platform where Are you looking
            for a developer/Techie to help/Collaborate with in your Idea or
            project? Or a developer who is in need of UX/UI Designer to do the
            Market and User Research as well as to design your Idea to a
            prototype? Or any Professional/Freelancer to help each other.
          </div>
        </div>
        <div class="article-image">
          <div class="article-image-details">
            <img
              class="network"
              src="img/headimg.png"
              alt="networking image"
              width="1200px"
              height="800px"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="how-it-works-bg">
      <div class="how-it-works">
        <div class="how-do">
          <h2>How does it Works?</h2>
        </div>
        <div class="how-do-flex">
          <div>
            <img class="vc-img" src="img/vc.png" />
          </div>
          <div>
            <div>1</div>
          </div>
        </div>
      </div>
    </div>
    <div class="third-c-background">
      <div class="third-c">
        <div>
          <h3 class="third-c-heading">
            Pain Points that we are Adressing are:
          </h3>
          <div class="third-c-list">
            <ul>
              <li>
                Personalised Recomended profiles based on Individual
                Preferances.
              </li>
              <li>
                Active Engagement with Effective Communication Channels, Say
                goodbye to passive, delayed and boring Conversations.
              </li>
              <li>
                Transparency and Trust, Where people come with verified social
                proof.
              </li>
              <li>Access to diverse Networks.</li>
              <li>
                Not only Effective job Matching, but also Equity Split, If both
                Agrees.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- contact block -->
    <section class="contact-bg" id="contact">
      <div class="contact-container">
        <div class="contact-title-main">
          <h3 class="contact-head">Join Early</h3>
        </div>
        <div class="form-bg">
          <div class="form-container">
            <form
              th:action="@{/saveMsg}"
              method="post"
              class="signin-form"
              th:object="${contact}"
            >
              <div class="input-grids">
                <div class="row">
                  <div class="col-sm-6">
                    <input
                      type="text"
                      name="name"
                      id="name"
                      placeholder="Your Name"
                      class="contact-input"
                    />
                  </div>
                  <div class="col-sm-6">
                    <input
                      type="text"
                      name="mobileNum"
                      id="mobileNum"
                      placeholder="Your Mobile Number"
                      class="contact-input"
                    />
                  </div>
                </div>
                <input
                  type="text"
                  name="email"
                  id="email"
                  placeholder="Your Email"
                  class="contact-input"
                />
                <input
                  type="text"
                  name="subject"
                  id="subject"
                  placeholder="Subject"
                  class="contact-input"
                />
              </div>
              <div class="form-input">
                <textarea
                  name="message"
                  id="message"
                  placeholder="Type your message here"
                ></textarea>
              </div>
              <div class="text-start">
                <button class="btn btn-style btn-style-3">Send Message</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!--contact-->

    <!--footer-->
    <footer class="footer">
      <div class="col-md-5 ps-lg-5 mt-md-0 mt-5">
        <div class="contact-left">
          <div class="cont-details">
            <div class="d-flex contact-grid">
              <div class="cont-left text-center me-3">
                <i class="fas fa-building"></i>
              </div>
              <div class="cont-right">
                <h6>Address:</h6>
                <p>Hustlers, 10001, 5th Avenue, #06 lane street, NY - 10017.</p>
              </div>
            </div>
            <div class="d-flex contact-grid mt-4 pt-lg-2">
              <div class="cont-left text-center me-3">
                <i class="fas fa-phone-alt"></i>
              </div>
              <div class="cont-right">
                <h6>Call Us</h6>
                <p><a href="tel:+1(21) 234 4567">+1(21) 673 4587</a></p>
              </div>
            </div>
            <div class="d-flex contact-grid mt-4 pt-lg-2">
              <div class="cont-left text-center me-3">
                <i class="fas fa-envelope-open-text"></i>
              </div>
              <div class="cont-right">
                <h6>Email Us</h6>
                <p>
                  <a href="mailto:info@hustlers.com" class="mail"
                    >info@hustlers.com</a
                  >
                </p>
              </div>
            </div>
            <div class="d-flex contact-grid mt-4 pt-lg-2">
              <div class="cont-left text-center me-3">
                <i class="fas fa-headphones-alt"></i>
              </div>
              <div class="cont-right">
                <h6>Customer Support</h6>
                <p>
                  <a href="support@Hustlers.com" class="mail"
                    >support@hustlers.com</a
                  >
                </p>
              </div>
            </div>
            <p id="copyright">Copyright &copy; 2023 by the SpeedLink</p>
          </div>
        </div>
      </div>
    </footer>
    <!--footer-->
  </body>
</html>
