<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SpeedLink</title>
    <link rel="icon" type="image/x-icon" sizes="32x32" href="static/images/img/favicon.ico" />
    <link rel="stylesheet" href="static/css/index.css" />
    <script defer src="script/index.js"></script>

    <!-- <script src="dsa.js"></script> -->
</head>

<body id="body">
<header class="main-header">
    <div class="nav">
        <a href="#"
        ><div><img src="img/final.png" id="brand" /></div>
        </a>
        <div class="In-nav">
            <a href="#" class="main-nav-anchor">Connect</a>
            <a href="#" class="main-nav-anchor">Blog</a>
            <a href="#" class="main-nav-anchor">Tech</a>
            <a href="#" class="main-nav-anchor">Contact</a>
            <a href="#" class="main-nav-anchor">Login/SignUp</a>
        </div>
    </div>
</header>
<div id="container">
    <article class="article">
        <div class="article-first-flex">
            <h1>
                Welcome to
                <div class="speedlink">SpeedLink</div>
                , Where Entrepreneurs, Founders, Designers, Developers, Tech
                Enthusiasts, Freelancers,connect and Discover New Ideas,by
                Connecting one-on-one on Tuesday,Thursday,Saturday and Sunday.
            </h1>
            <div class="article-text">
                Are you looking to FIND, CONNECT and NETWORK With Same Attitude,
                Aspirations and with Entrepreneurial Spirited people to work with
                you or to work along on a common Idea? Then you have came to the
                Right place.
            </div>
            <div class="article-text">
                Find someone to join your idea, or Explore NEW startup IDEAS with
                potential Entrepreneurs, or Join someone's existing idea.
            </div>
            <div class="signup-in-button">
                <div>
                    <button class="signup-button">Sign-up</button>
                </div>
                <div>
                    <button class="signin-button">Sign-in</button>
                </div>
            </div>
        </div>
        <div class="article-second-flex">
            <div class="article-secondflex-start">
                <div class="article-second-image">
                    <img
                            class="network"
                            src="img/headimg.jpg"
                            alt="networking image"
                            width="1000px"
                            height="600px"
                    />
                </div>
            </div>
        </div>
    </article>
</div>

<div class="container-two-background">
    <div class="container-two">
        <div class="container-two-in">
            <h2 class="container-two-head">Who is SpeedLink for?</h2>
            <div class="container-two-detail">
                SpeedLink is a One-on-One Networking platform where Are you looking
                for a developer/Techie to help/Collaborate with in your Idea or
                project? Or a developer who is in need of UX/UI Designer to do the
                Market and User Research as well as to design your Idea to a
                prototype? Or any Professional/Freelancer to help each other.
            </div>
        </div>
    </div>
</div>
<div class="how-it-works-bg">
    <div class="how-it-works">
        <div class="how-do">
            <h2>How does it Works?</h2>
        </div>
        <div class="how-do-flex">
            <div>
                <img class="vc-img" src="img/vc.jpg" />
            </div>
            <div>
                <div>1</div>
            </div>
        </div>
    </div>
</div>
<div class="third-c-background">
    <div class="third-c">
        <div>
            <h3 class="third-c-heading">
                Pain Points that we are Adressing are:
            </h3>
            <div class="third-c-list">
                <ul>
                    <li>
                        Personalised Recomended profiles based on Individual
                        Preferances.
                    </li>
                    <li>
                        Active Engagement with Effective Communication Channels, Say
                        goodbye to passive, delayed and boring Conversations.
                    </li>
                    <li>
                        Transparency and Trust, Where people come with verified social
                        proof.
                    </li>
                    <li>Access to diverse Networks.</li>
                    <li>
                        Not only Effective job Matching, but also Equity Split, If both
                        Agrees.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <p id="copyright">Copyright &copy; 2023 by the SpeedLink</p>
</footer>
</body>
</html>
